/* VARIABLES */
:root {
  --primary: #ff8b20;
}

/* RESETS */
.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
/* END RESETS */

/* HERO AREA */
.hero-area {
  background-image: url("../img/pose.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
}

@media (min-width: 992px) {
  .hero-area {
    background-position: initial;
  }
}

.hero-area::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-content {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 1.9rem;
  }
}
/* END HERO AREA */

/* HEADER AREA */
.header-area {
  position: fixed;
  z-index: 1;
  width: 100%;
}

@media (max-width: 992px) {
  #nav-menu {
    background-color: rgba(19, 19, 17, 0.94);
    padding: 1.25rem;
  }
}

#nav-menu .nav-link {
  margin-right: 23px;
  font-size: 1.1rem;
}
/* END HEADER AREA */
